@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

:root {
  --primary-clr: #171924;
  --accent-clr: #13141e;
  --accent-clr-200: #323337;
  --discord-clr: #697ec9;
  --theme: rgb(93, 27, 199);
  --bot-theme-clr: red;
  --footer-clr: #131416;
}

body::-webkit-scrollbar {
  background: #000;
  width: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
body::-webkit-scrollbar-thumb {
  background: var(--bot-theme-clr);
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover {
  background: red;
  border-radius: 3px;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background: var(--primary-clr);
}

.logo {
  letter-spacing: 1.4px;
  font-size: 1.5rem;
}
.logo-img {
  height: 80px;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  border: solid 5px var(--accent-clr);
  pointer-events: none;
  left: 5%;
}
.logo-img-animate {
  -webkit-animation-name: imageAnimateLoad;
  animation-name: imageAnimateLoad;
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

.navbar {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 1.5em 1em;
  background: var(--accent-clr);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1.4rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.nav-items {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-links {
  padding: 0.6em 0.3em;
  -webkit-transition: 0.35s ease;
  -o-transition: 0.35s ease;
  transition: 0.35s ease;
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.479);
}
.nav-links:hover {
  color: #fff;
  /* background: rgba(255, 255, 255, 0.137); */
}
.home {
  font-size: 1.2rem;
  float: left;
  margin-top: 20vh;
  margin-left: 2.6rem;
}
.home-animation {
  -webkit-animation-name: loadAnimate;
  animation-name: loadAnimate;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}
.title-text {
  font-size: 1.3rem;
  color: var(--bot-theme-clr);
  font-weight: 200;
}
.slogan {
  font-weight: 800;
  font-size: 3.4rem;
  margin-top: 0.35rem;
}
.btn {
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  display: inline-block;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn:hover {
  -webkit-transform: scale(0.99);
  -ms-transform: scale(0.99);
  transform: scale(0.99);
}
.button-sect {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1rem;
}
.button-home {
  background: var(--discord-clr);
  padding: 0.9em 1.2em;
  margin-right: 0.8em;
  border-radius: 3px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.button-home:hover {
  background-color: #54639b;
  border: none;
  -webkit-box-shadow: var(--discord-clr) 0px 10px 36px 0px,
    var(--discord-clr) 0px 0px 0px 1px;
  box-shadow: var(--discord-clr) 0px 10px 36px 0px,
    var(--discord-clr) 0px 0px 0px 1px;
}
.button-home::after {
  content: "Â»";
  font-size: 1.2rem;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0;
  letter-spacing: -10px;
}
.button-home:hover::after {
  opacity: 1;
  letter-spacing: normal;
}
.button-home1 {
  padding: 0.9em 1.2em;
  border-radius: 2px;
  border: solid 1px var(--bot-theme-clr);
  color: var(--bot-theme-clr);
}
.button-home1:hover {
  background: var(--bot-theme-clr);
  color: var(--primary-clr);
  -webkit-box-shadow: var(--bot-theme-clr) 0px 10px 36px 0px,
    var(--bot-theme-clr) 0px 0px 0px 1px;
  box-shadow: var(--bot-theme-clr) 0px 10px 36px 0px,
    var(--bot-theme-clr) 0px 0px 0px 1px;
}
.paragraph {
  font-size: 0.97rem;
  color: rgba(255, 255, 255, 0.651);
  max-width: 500px;
  font-weight: lighter;
}

.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #282c33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 999;
}
[aria-current] {
  color: rgba(255, 255, 255, 0.753);
}

.burger {
  /* background: transparent; */
  width: 35px;
  height: 26px;
  border: none;
  position: absolute;
  right: 2.5%;
  display: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
  margin-top: -10px;
}
.bars {
  width: 90%;
  height: 3px;
  background-color: #fff;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.active1 {
  -webkit-transform: rotate(45deg) translateY(15px);
  -ms-transform: rotate(45deg) translateY(15px);
  transform: rotate(45deg) translateY(15px);
}
.active2 {
  opacity: 0;
}
.active3 {
  -webkit-transform: rotate(-45deg) translateY(-16px);
  -ms-transform: rotate(-45deg) translateY(-16px);
  transform: rotate(-45deg) translateY(-16px);
}
.hdr-img {
  height: 300px;
  float: right;
  margin-top: 100px;
  margin-right: 9em;
  pointer-events: none;
}
::-moz-selection {
  background: rgba(221, 86, 8, 0.185);
}
::selection {
  background: rgba(221, 86, 8, 0.185);
}
.features {
  background: #13141e;
  width: 100%;
  min-height: 300vh;
  margin-top: -5px;
  padding-top: 10vh;
}

.card {
  background: #181926;
  position: relative;
  padding: 0.9em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100em auto;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
  margin-top: 18vh;
}
.card-item {
  max-width: 300px;
  margin: 2rem;
}
.card-item i {
  float: left;
}
.card-item h3,
.card-item p {
  margin-left: 0.5em auto;
}
.title-card {
  font-size: 1.8rem;
  font-weight: 600;
}
.card-paragraph {
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.712);
  max-width: 350px;
  font-size: 0.95rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}
/* .text-section {
  /* margin */
.icon-custom-class {
  font-size: 2rem;
  color: red;
  padding: 0.5em 0.6em;
  border-radius: 50%;
  background: rgb(40, 39, 66);
  margin-right: 0.5em;
  font-weight: normal;
}
.title-features {
  text-align: center;
  font-weight: normal;
  margin-top: 4rem;
}
.support-server {
  text-align: center;
  margin-top: 35vh;
  min-height: 40vh;
}
.invite-card {
  margin-top: 2rem;
  background: #282a2e;
  border-radius: 4px;
  padding: 0.9em;
  padding-right: 1.2em;
  display: inline-block;
  position: relative;
  /* box-shadow: rgba(99, 99, 99, 0.418) 0px 2px 8px 0px; */
}
.title-card1 {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #94a7b3;
}
.invite-img {
  height: 40px;
  border-radius: 30%;
  float: left;
  margin-top: 12px;
  pointer-events: none;
}
.server-name {
  font-size: 1.05rem;
  float: left;
  margin: 1.27em 0.5em;
  font-weight: lighter;
}
.server-name:hover {
  -webkit-text-decoration: underline #fff;
  text-decoration: underline #fff;
}
.server-invite {
  display: inline-block;
  background: #3ba55d;
  margin-top: 0.8em;
  margin-right: -0.7em;
  padding: 0.6em 0.9em;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: lighter;
  -webkit-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.server-invite:hover {
  background: #338d50;
}
.server-invite:active::after {
  content: "ed";
}
.why-wait {
  margin-top: 0vh;
  text-align: center;
}
.title-why-wait {
  margin-bottom: 2rem;
}
.card-section-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.card-btm {
  background: #323337;
  padding: 5em 4em;
  margin-left: 2.5em;
  margin-top: 2.5em;
  border-radius: 4px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
.card-btm:hover {
  background: #32333783;
}
.badge {
  font-size: 8px;
  background: rgb(68, 107, 235);
  padding: 4px;
  text-transform: uppercase;
  border-radius: 2px;
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}
.invite-btn-all {
  font-size: 1.4rem;
}
.invite-btm-text {
  margin-top: 10px;
  font-weight: lighter;
  max-width: 300px;
}
.footer {
  width: 100%;
  background: var(--footer-clr);
  padding: 1.6em;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-title {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  text-shadow: rgba(255, 171, 14, 0.712) 0 0 0 3px;
}
.footer-paragraph {
  font-weight: lighter;
  max-width: 300px;
  font-size: 13px;
  margin-top: 14px;
  color: rgb(226, 221, 221);
}
.vote-title {
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.699);
  font-size: 0.9rem;
}
.vote-links {
  list-style: none;
}
.vote-item {
  color: #ddd;
  margin-top: 15px;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-size: 0.9rem;
}
.vote-item:hover {
  color: var(--bot-theme-clr);
}

.footer-links {
  text-align: center;
  margin-right: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-link-sec-2 {
  margin-left: 20px;
  margin-right: 20px;
}
/* hi there */
.copyright {
  background: #131416;
  padding: 0.8em;
}
.copyright-text {
  text-align: center;
  margin-top: 1em;
  font-weight: 200;
}
.credit {
  text-align: right;
}
@media screen and (max-width: 500px) {
  .footer {
    display: none;
  }
}
