


<!--Made by FURY#6717
Scratchified by FURY#6717
-->

<!DOCTYPE html>
<html lang="en">
  <head>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5037782435373420"
     crossorigin="anonymous"></script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5037782435373420"
        crossorigin="anonymous"></script>


    <meta data-n-head='ssr' charset="utf-8">
    <meta data-n-head='ssr' name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Head Information -->
    <meta name="twitter:image"
        content="https://media.discordapp.net/attachments/823030445126058045/1059511817786896414/a8695b3770175e074c13cad23fa4fef5.png">
    <meta name="theme-color" content="#fc3932">
    <meta name="description"
        content="High End 24/7 Music Bot With - Favourite System - 5+ Filters - Supports - Spotify - Soundcloud Etc Try NemO Now.">
    <title>NemO - Finest Music Bot</title>
    <link rel="icon"
        href="https://media.discordapp.net/attachments/823030445126058045/1059511817786896414/a8695b3770175e074c13cad23fa4fef5.png">


    <!-- Google -->
    <meta name="keywords" content="nemo, bot, discord, discord bot, nemo bot">
    <meta name="author" content="NemO Bot">
    <meta name="description"
        content="High End 24/7 Music Bot With - Favourite System - 5+ Filters - Supports - Spotify - Soundcloud Etc Try NemO Now.">
    <meta name="robots" content="all">


	<link rel="stylesheet" href="/chunk.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="/animation.css" />
	<link rel="stylesheet" href="/queries.css">
	<link rel="shortcut icon" href="../assets/img/logo-main.png">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/terms.css">
  </head>
  <body style="background-color: #23272A;">
  

<div class="ma">
  <div style="text-align: center; font-weight: bold; font-size: 45px; background-color: red;">Our Team</div>
  <div style="text-align: center; font-weight: bold; font-size: 20px; background-color: red;">Founded way back in March 2021, By Prahar Jokhakar.</div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card" style="background-color: black; border: 4px solid #fff;">
        <img src="https://ik.imagekit.io/nohtkjctb/pjj.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676824823934" class="card-img-top" alt="...">
        <div class="card-body">
          <span class="badge text-bg-success">Head Developer</span>
          <span class="badge text-bg-info">Administrator</span>
          <h5 class="card-title">Prahar Jokhakar</h5>
          <p class="card-text">A fully stacked developer, having experience of 2 years of Discord bot and web development.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="background-color: black; border: 4px solid #fff;">
        <img src="https://ik.imagekit.io/nohtkjctb/v.png?ik-sdk-version=javascript-1.4.3&updatedAt=1676824823885" class="card-img-top" alt="...">
        <div class="card-body">
          <span class="badge text-bg-success">Developer</span>
          <span class="badge text-bg-info">Administrator</span>
          <h5 class="card-title">Vaibhav Singh</h5>
          <p class="card-text">A fully stacked developer, having experience in web development and applications.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="background-color: black; border: 4px solid #fff;">
        <img src="https://ik.imagekit.io/iwzmmyzul/New_Folder/301659719_1469322490208579_7262260700894821272_n_1q9i-f6AC.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1676863086790" class="card-img-top" alt="...">
        <div class="card-body">
          <span class="badge text-bg-primary" style="align-items: flex-start;">Contributor</span>
          <h5 class="card-title">Nathan</h5>
          <p class="card-text">Hi there, I'm Nathan - aka Growtoups👋 I'm a Developer & System Admin!!</p>
        </div>
      </div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</html>
